<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script>
            var ROOT = "__ROOT__";//网站根目录地址,例:/根目录
            var APP = "__APP__";//当前应用（入口文件）地址,例:/根目录/index.php
            var APP_NAME = "__APP_NAME__";//网站应用根目录,例:/根目录/应用目录
            var IMG = "__IMG__";
            var STATIC = "__STATIC__";
            var UPFILE = "__UPFILE__";
            var THEME = "__THEME__";
        </script>
        <css href="__STATIC__/css/bootstrap.min.css" />
        <css href="__STATIC__/css/font-awesome.min.css" />
        <css href="__CSS__/style.css" />
