<div class="top_body" style="z-index: 999;">
    <!--LOGO公司名称-->
    <div class="row" style="color: #fff;">
        <div class="col-sm-5" style="height: 80px;line-height: 80px;"><p class="h2" style="text-align: center;">杭州利伊享数据科技有限公司</p></div>
        <div class="col-sm-7" style="height: 80px;line-height: 80px;text-align: right;font-size: 18px;"><a href="#" style="margin-right: 50px;"><span class="glyphicon glyphicon-cog"></span></a> <a href="#" style="margin-right: 150px;"><span class="glyphicon glyphicon-log-out"></span></a></div>
    </div>
</div>
