<include file="Public/admin_head" title="杭州利伊享" />
<div class="body">
    <div class="admin_left fl">
        <ul>
            <li class="current">
                <i class="fa fa-home fa-3x fl"></i>
                <span class="fl">首页</span>
            </li>
            <li>
                <i class="fa fa-home fa-3x fl"></i>
                <span class="fl" style="margin-left: 38px;">通讯录</span>
            </li>
            <li>
                <i class="fa fa-home fa-3x fl"></i>
                <span class="fl" style="margin-left: 34px;">企业设置</span>
            </li>
            <li>
                <i class="fa fa-gear  fa-3x fl"></i>
                <span class="fl" style="margin-left: 32px;">权限设置</span>
            </li>
        </ul>
    </div>
    <div class="admin_right fl">
        <div class="owned">
            <ul class="owned_first fl">
                <li>尊敬的客户:</li>
                <li>您好,欢迎使用招商平台,您现在登录的是管理员界面。赠送给您的使用空间已经添加到您的企业账户中，您只需要按照如下步骤操作，即日可开通使用。</li>
                <li>
                    <span class="fl sp3">1、创建部门</span>
                    <button class="fl btns1">点击立即创建</button>
                </li>
                <li>
                    <span class="fl sp3" style="margin-right: 18px;">2、创建员工账号</span>
                    <button class="fl btns1">点击立即创建</button>
                </li>
                <li>
                    <span class="rg">杭州利伊享数据科技有限公司</span>
                </li>
            </ul>
            <ul class="owned_two fl">
                <li>杭州日思夜享数据科技有限公司</li>
                <li>
                    <p>服务热线</p>
                    <p>0571-8888888</p>
                </li>
                <li>
                    <p>在线咨询</p>
                    <p>QQ1594444</p>
                </li>
                <li>
                    <p style="color: #717071;">copyinght&nbsp;&nbsp;2012-2014</p>
                    <p>
                        <a href="#">APP下载</a>
                        <a href="#">使用说明</a>
                        <a href="#">安全声明</a>
                    </p>
                </li>
            </ul>
        </div>
        <div class="owned">
            <ul class="owned_thirdly fl">
                <li>
                    <a href="#">
                        <img src="__IMG__/admin_icon1.png">
                        <p>创建部门</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="__IMG__/admin_icon2.png">
                        <p>创建员工</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="__IMG__/admin_icon3.png">
                        <p>权限管理</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="__IMG__/admin_icon4.png">
                        <p>企业信息设置</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="owned">
            <ul class="owned_fourthly fl">
                <li>
                    <span class="sp4">账号使用</span>
                    <span>购买数量20个</span>
                </li>
                <li>
                    <p>
                        <span class="sp5"></span>
                    </p>
                </li>
                <li>
                    <span>已使用3个</span>
                    <span class="sp6">已使用3个</span>
                </li>
                <li>软件到期时间</li>
                <li>
                    <span>2020年12月29日</span>
                    <span class="sp7">剩余(99999)天</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<include file="Public/footer" title="杭州利伊享" />
