<include file="Public/head" title="任务参与及违规处理规范" />
<body>
<div data-role="page">
    <div role="main" class="ui-content">
        <p style="text-align:center">
            <strong><span style="font-family:宋体">任务参与及违规处理规范</span></strong>
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            <span style="font-family:宋体">第一条</span> <span style="font-family:宋体">为了维护本平台正常交易秩序，推动服务交易的繁荣，保障交易顺利进行，根据《用户注册服务协议》及《需求发布与处理规则》，制定本规则。参与任务时，请您认真阅读本协议，审阅并接受或不接受本协议。</span>
        </p>
        <p>
            <span style="font-family:宋体">第二条</span> <span style="font-family:宋体">若您已经参与投标，即表示您已充分阅读、理解并同意自己与本平台订立本协议，且您自愿受本协议的条款约束。本平台有权随时变更本协议并在本平台上予以公</span> <span style="font-family:宋体">告。经修订的条款一经在本平台的公布后，立即自动生效。如您不同意相关变更，必须停止投标行为。一旦您继续进行投标行为，则表示您已接受并自愿遵守经修订后的条款。</span>
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            <span style="font-family:宋体">第三条</span> <span style="font-family:宋体">用户在本平台上参与投标，应当遵守法律、法规、行政规章的规定和本平台服务协议及相关规则，用户禁止参与违规需求，否则一切不利后果由本人承担；</span>
        </p>
        <p>
            <span style="font-family:宋体">第四条</span> <span style="font-family:宋体">用户应当遵守国家法律、法规、行政规章的规定。对任何涉嫌违反法律、法规、行政规章的行为，本规则已有规定的，适用本规则；本规则尚无规定的，本平台有权酌情处理。但本平台对违规用户的处理不免除其应当承担的法律责任。</span>
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            <span style="font-family:宋体">第五条</span> <span style="font-family:宋体">用户应保证投标为自愿、由自己亲自完成任务，在完成过程中不得侵犯第三方的专利权、著作权、商标权或其他任何专有权利。</span>
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            <span style="font-family:宋体">第六条用户应当保证投标中的所有信息真实、可靠。不得夸大或者伪造自身经历和案例，以影响企业判断或者骗取企业信任。</span>
        </p>
        <p>
            <span style="font-family:宋体">第七条</span> <span style="font-family:宋体">用户不得捏造、散布不实言论、诋毁、污蔑其他用户，进行不正当竞争。</span>
        </p>
        <p>
            <span style="font-family:宋体">第八条</span> <span style="font-family:宋体">用户的投标不得含有任何联系方式（联系方式：包括但不限于电话、</span>QQ<span style="font-family:宋体">、邮箱、网址）</span>
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            <span style="font-family:宋体">第九条</span> <span style="font-family:宋体">无效投标的判定标准：</span>
        </p>
        <p>
            &nbsp;&nbsp;&nbsp; A<span style="font-family:宋体">、投标为广告、低俗信息等违规内容；</span>
        </p>
        <p>
            &nbsp;&nbsp;&nbsp; B<span style="font-family:宋体">、投标与需求无任何关联；</span>
        </p>
        <p>
            &nbsp;&nbsp;&nbsp; C<span style="font-family:宋体">、并没有提交实际完成证明的；</span>
        </p>
        <p>
            &nbsp;&nbsp;&nbsp; D<span style="font-family:宋体">、用户投标无法满足需求的基本要素；</span>
        </p>
        <p>
            &nbsp;&nbsp;&nbsp; E<span style="font-family:宋体">、经本平台判定没有用户完成需求；</span>
        </p>
        <p>
            &nbsp;&nbsp;&nbsp; F<span style="font-family:宋体">、企业有证据证明用户投标内容并非真实信息；</span>
        </p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; G<span style="font-family:宋体">、其他属于无效投标的情况。</span>
        </p>
        <p>
            <span style="font-family:宋体">对于无效投标，本平台有权未经用户同意进行屏蔽。同时对用户进行相应的处罚。</span>
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            <span style="font-family:宋体">第十条</span> <span style="font-family:宋体">无效稿件处罚标准</span>
        </p>
        <p>
            1<span style="font-family:宋体">、若用户提交的内容被认定为无效，系统将屏蔽该稿件并扣除相应的信用度分值。</span>
        </p>
        <p>
            2<span style="font-family:宋体">、每个无效应标扣除信用</span>1<span style="font-family: 宋体">分，扣分无上限。</span>
        </p>
        <p>
            3<span style="font-family:宋体">、一旦信用度被扣至</span>0<span style="font-family: 宋体">分，则会永久锁定账号。</span>
        </p>
        <p>
            <span style="font-family:宋体">第十一条</span> <span style="font-family:宋体">需求完成提交规范：</span>
        </p>
        <p>
            <span style="font-family:宋体">用户参与需求提交时，必须按照企业的需求内容制作然后在进行提交，不得提交与企业需求内容不相符的内容，用户一旦提交这样的内容将按照无效进行处罚。</span>
        </p>
        <p>
            <span style="font-family:宋体">第十二条</span> <span style="font-family:宋体">服务佣金</span>
        </p>
        <p>
            <span style="font-family:宋体;background:yellow;background:yellow">交易结束后，本平台将从企业总佣金中扣除用户完成任务佣金和平台服务佣金，经双方确认完成后进行佣金结算，经平台审核后应得任务佣金打入参与用户在本平台的收益帐户，参与用户可以在平台消费，也可申请兑现到本人绑定的支付宝帐户。</span>
        </p>
        <p>
            <span style="font-family:宋体">第十三条</span> <span style="font-family:宋体">对于需要交接原件时，如合同等，用户应在完成工作时主动将原件交付给企业。</span>
        </p>
        <p>
            <span style="font-family:宋体">第十四条</span> <span style="font-family:宋体">用户投标被选为中标并支付佣金后，该内容的所有权即转让给企业所有。</span>
        </p>
        <p>
            <span style="font-family:宋体">第十五条</span> <span style="font-family:宋体">完成需求承诺。</span>
        </p>
        <p>
            <span style="font-family:宋体">在您中标后向企业提供服务过程中，您承诺遵守以下约定：</span>
        </p>
        <p>
            1<span style="font-family:宋体">、您同意遵守本协议、以及所有公示于本平台相关的规则。</span>
        </p>
        <p>
            2<span style="font-family:宋体">、您明示接受“在线支付服务”方式作为您通过本平台达成交易的支付工具。</span>
        </p>
        <p>
            3<span style="font-family:宋体">、您拥有的合法的权利和资格向本平台上传有关服务信息，且前述行为未对任何第三方合法权益等构成侵害。如因您的行为导致本平台或其关联公司遭受任何第三方提起的索赔、诉讼或行政责任，您应承担全部责任。</span>
        </p>
        <p>
            4<span style="font-family:宋体">、您应承诺为企业提供保障服务，保证完成任务并且直到企业满意为止。</span>
        </p>
        <p>
            5<span style="font-family:宋体">、违约赔付：指您与企业通过小宝平台进行交易后，如因您未履行完成服务承诺而导致企业权益受损，且在企业直接要求您处理未果的情况下，小宝平台有权以普通或非专业人员的知识水平标准，根据相关证据材料和规则判定您是否应履行赔付义务。如是，则小宝平台有权自您的账户中直接扣除相应金额款项赔付给企业</span>,<span style="font-family: 宋体">同时您需要向企业退回相应的交易款项。如小宝平台通过上述方式仍无法弥补企业的损失，则小宝平台有权单方面终止向您提供小宝平台服务，而且继续要求您承担违约责任。</span>
        </p>
        <p>
            6<span style="font-family:宋体">、小宝平台及其关联公司仅向您提供相关技术支持及服务，不对您向企业提供的保证完成服务内容承担任何保证责任。当发生企业发布的需求未按时完成，无能力完成或其它您违反保证完成服务承诺等情形时，您应积极与企业沟通协商并保证企业的权益。</span>
        </p>
        <p>
            7<span style="font-family:宋体">、您同意当小宝平台受理企业提出的服务承诺和终止申请时，您应积极配合，在小宝平台要求的时间期限内提供相关证据材料，以证明与企业之间的交易不存在企业提出的问题或符合双方的约定，并保证所提交的证据材料真实、合法。如小宝平台对您和</span>/<span style="font-family: 宋体">或企业提供的证据材料进行表面审核后，以其独立判断您未全面履行保证完成服务内容的，则小宝平台有权根据本协议及其它公示规则的规定，退回相关交易款项给企业。小宝平台判决后，处理方案立即生效。双方均应严格遵照处理方案履行，若中标方帐户资金不足，就不足部分应另行使用自有资金向企业赔付。买卖双方均理解就不足部分小宝平台有权力但无义务使用自有资金代中标者先行赔付。</span>
        </p>
        <p>
            8<span style="font-family:宋体">、经小宝平台判定您违规，小宝平台有权给予您相应处罚。</span>
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            <span style="font-family:宋体">第十六条</span> <span style="font-family:宋体">用户违规的处理</span>
        </p>
        <p>
            &nbsp;<span style="font-family:宋体">用户违规行为根据严重程度分为严重违规行为及一般违规行为。用户发生违规行为的，将扣除一定诚信度分值，当扣分累计到达一定分值后，给予用户不同档次的处罚</span>.
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            <span style="font-family:宋体">严重违规行为，是指严重破坏小宝平台经营秩序并涉嫌违反国家法律法规的行为。</span>
        </p>
        <p>
            <span style="font-family:宋体">一般违规行为，是指除严重违规行为外的其他违反用户行为规范的行为。</span>
        </p>
        <p>
            <span style="font-family:宋体">用户违规时，小宝平台将按照本规则规定的情形对用户采取以下违规处理措施：</span>
        </p>
        <p>
            1<span style="font-family:宋体">、屏蔽信息：指对文档、需求、评论等信息进行屏蔽和删除；</span>
        </p>
        <p>
            2<span style="font-family:宋体">、限制社区功能：指禁止用户在小宝社区发帖、回帖、评论；</span>
        </p>
        <p>
            3<span style="font-family:宋体">、限制评论：指禁止用户发表评论；</span>
        </p>
        <p>
            4<span style="font-family:宋体">、取消中标：指取消中标文档的中标（或备选）资格；</span>
        </p>
        <p>
            5<span style="font-family:宋体">、限制投标：指禁止用户在需求下方进行投标（或报名）；</span>
        </p>
        <p>
            6<span style="font-family:宋体">、限制系统派单：指停止通过派单系统向用户派发订单；</span>
        </p>
        <p>
            7<span style="font-family:宋体">、限制发布服务：指禁止用户在平台中出售新的服务；</span>
        </p>
        <p>
            8<span style="font-family:宋体">、限制参加营销活动：指限制用户参加小宝官方发起的营销活动；</span>
        </p>
        <p>
            9<span style="font-family:宋体">、平台屏蔽：指在搜索、列表、营销等各项产品中对用户平台及服务等信息进行屏蔽；</span>
        </p>
        <p>
            10<span style="font-family:宋体">、查封账户：指禁止用户使用违规账户登录小宝平台，关闭用户平台，下架平台内所有出售中的服务；</span>
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            <span style="font-family:宋体">第十七条</span> <span style="font-family:宋体">诚信度扣分处罚节点：</span>
        </p>
        <p>
            1<span style="font-family:宋体">、诚信度大于</span>60<span style="font-family: 宋体">分且小于等于</span>80<span style="font-family: 宋体">分的用户，给予限制发布服务，限制投标，限制派单，限制社区功能，限制参加营销活动</span>3<span style="font-family: 宋体">天的处理；</span>
        </p>
        <p>
            2<span style="font-family:宋体">、诚信度大于</span>40<span style="font-family: 宋体">分且小于等于</span>60<span style="font-family: 宋体">分的用户，给予平台屏蔽，限制发布服务，限制投标，限制派单，限制评论，限制社区功能，限制参加营销活动</span>7<span style="font-family: 宋体">天的处理；</span>
        </p>
        <p>
            3<span style="font-family:宋体">、诚信度大于</span>0<span style="font-family: 宋体">分且小于等于</span>40<span style="font-family: 宋体">分的用户，给予平台屏蔽，限制发布服务，限制投标，限制派单，限制评论，限制社区功能，限制参加营销活动</span>14<span style="font-family: 宋体">天的处理；</span>
        </p>
        <p>
            4<span style="font-family:宋体">、诚信度为</span>0<span style="font-family: 宋体">的用户，永久查封账户。</span>
        </p>
        <p>
            <span style="font-family:宋体">用户因单次违规扣分较大，导致累积扣分满足多个节点处理条件的，或在违规处理期间又须执行同类节点处理的，仅执行最重的节点处理。</span>
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            <span style="font-family:宋体">第十八条</span> <span style="font-family:宋体">被执行违规处罚的用户，当其全部违规行为被纠正、违规处理期间届满、违规处理措施执行完毕后，方可通过申请经平台审核后恢复正常状态。</span>
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            <span style="font-family:宋体">第十防条</span> <span style="font-family:宋体">诚信度恢复规则</span>
        </p>
        <p>
            <span style="font-family:宋体">用户由于违反小宝平台规则受到处罚，处罚期满后，经申请平台给予恢复正常，诚信度将恢复至</span>81<span style="font-family: 宋体">分。</span>
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            <span style="font-family:宋体">第二十条</span> <span style="font-family:宋体">用户可在被违规处理之时起</span>15<span style="font-family:宋体">天内向客服提交违规申诉申请。</span>
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            <span style="font-family:宋体">第二十一条</span> <span style="font-family:宋体">严重违规行为类型及处罚措施</span>
        </p>
        <p>
            <span style="font-family:宋体">（一）不履行原文件交付职责：指用户不按照需求约定内容或正常的交易流程，向企业提供符合需求要求原文件的行为</span>,<span style="font-family: 宋体">包括：</span>
        </p>
        <p>
            1<span style="font-family:宋体">、中标者无论以任何方式要求或引导企业先支付佣金，再交接原文件的；</span>
        </p>
        <p>
            2<span style="font-family:宋体">、中标者的原文件格式与需求的要求不一致且不配合修改或重新上传的；</span>
        </p>
        <p>
            3<span style="font-family:宋体">、中标者上传的原文件内容与需求的要求不符且不配合修改或重新上传的；</span>
        </p>
        <p>
            4<span style="font-family:宋体">、其他因原文件本身的问题导致企业无法使用且不配合修改或重新上传的。</span>
        </p>
        <p>
            <span style="font-family:宋体">若用户被认定为不履行原文件交付职责，每次扣除诚信度分值</span>20<span style="font-family:宋体">分。</span>
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            <span style="font-family:宋体">（二）线下交易：中标者与企业取得联系后，不通过小宝平台进行交易而通过其他支付方式进行汇款、转账或充值的行为，包括：</span>
        </p>
        <p>
            1<span style="font-family:宋体">、企业引导中标者线下交易，中标者同意的，包括但不限于以下情形：</span>
        </p>
        <p>
            &nbsp;&nbsp; a<span style="font-family:宋体">、中标者从小宝平台获取企业信息，无论以何种形式进行线下交易的；</span>
        </p>
        <p>
            &nbsp;&nbsp; b<span style="font-family:宋体">、中标者从小宝平台以外的途径获取企业信息，单笔交易中，部分款项通过小宝平台支付，而另一部分通过其他途径支付的</span>
        </p>
        <p>
            2<span style="font-family:宋体">、中标者引导企业线下交易，无论企业是否同意的；</span>
        </p>
        <p>
            <span style="font-family:宋体">无论金额大小，扣除诚信度</span>100<span style="font-family:宋体">分，永久查封账户，则预交保证金佣金不予退还。</span>
        </p>
        <p>
            <span style="font-family:宋体">用户因线下交易造成的一切经济损失由用户自行承担，网站将不承担任何法律责任。</span>
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            <span style="font-family:宋体">（三）虚假交易：指通过不正当方式提高账户能力值或服务销量，妨害企业权益的行为，包括但不限于：</span>
        </p>
        <p>
            1<span style="font-family:宋体">、通过大幅度修改服务价格，来提高服务销量的；</span>
        </p>
        <p>
            2<span style="font-family:宋体">、用户利用马甲小号，多次购买自己的服务或者让自己中标；</span>
        </p>
        <p>
            3<span style="font-family:宋体">、当交易双方产生争议，中标者引导企业全额支付，但是通过其他支付方式对企业进行汇款、转账或充值而进行退款的行为。</span>
        </p>
        <p>
            <span style="font-family:宋体">通过不正当方式提高账户能力值或者服务销量的，每次扣除诚信度</span>20<span style="font-family: 宋体">分；</span>
        </p>
        <p>
            <span style="font-family:宋体">通过不正当方式所提高的能力值占总能力值</span>50%<span style="font-family:宋体">以上的，每次扣除诚信度</span>40<span style="font-family: 宋体">分。</span>
        </p>
        <p>
            <span style="font-family:宋体">同时，删除用户虚假交易产生的平台评分、评价以及其能力值积分。通过虚假交易提升中标销量的，将视情节严重程度，对用户采取临时封号。</span>
        </p>
        <p>
            4<span style="font-family:宋体">、用户通过任何不正当方式引导企业进行虚假交易，并从中牟利的，对用户进行永久封号处理。</span>
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            <span style="font-family:宋体">（四）</span> <span style="font-family:宋体">恶意举报：指用户自己或利用他人，对竞争对手的正常信息（包括但不限于投标，需求，评论，服务等），在短时间内进行多次举报，严重妨碍用户正常交易活动的行为。无论是否对其他用户造成直接或间接的影响，每次扣除诚信度</span>10<span style="font-family: 宋体">分。若恶意举报行为对被举报用户造成错误扣分，则补回被扣分。</span>
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            <span style="font-family:宋体">（五）辱骂污蔑他人：包括但不限于以下两种情况：</span>
        </p>
        <p>
            1<span style="font-family:宋体">、用户自己或利用他人，通过捏造、散布虚伪事实等不正当手段，对其他用户进行恶意的诋毁、贬低，辱骂等行为，每次扣除诚信度</span>40<span style="font-family: 宋体">分。</span>
        </p>
        <p>
            2<span style="font-family:宋体">、在交易过程中，用户通过沟通工具（包括但不限于</span>IM<span style="font-family: 宋体">、</span>QQ<span style="font-family: 宋体">、电话、邮件）对企业进行辱骂、诋毁、人身攻击等行为，每次扣除诚信度</span>40<span style="font-family: 宋体">分。</span>
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            <span style="font-family:宋体">（六）盗用他人账户：指盗用他人小宝账户，涉嫌侵犯他人财产权的行为。扣除诚信度</span>100<span style="font-family: 宋体">分，永久查封账户。</span>
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            <span style="font-family:宋体">（七）骗取他人财物：指用户通过小宝平台以非法获利为目的（例如盗用他人品牌形象行骗等），非法获取他人财物，涉嫌侵犯他人财产权的行为。扣除诚信度</span>100<span style="font-family: 宋体">分，永久查封账户。</span>
        </p>
        <p>
            <span style="font-family:宋体">（八）诱导或要挟企业：指用户通过诱导、欺骗、要挟等方式让企业给予自己评价的行为，包括但不限于以下情况：</span>
        </p>
        <p>
            1<span style="font-family:宋体">、用户通过诱导或欺骗的行为让企业给予自己好评，一旦查实扣除用户诚信度</span>20<span style="font-family: 宋体">分。</span>
        </p>
        <p>
            2<span style="font-family:宋体">、用户用评价作为协商谈判的条件，以此进行要挟行为，一旦查实首次扣除诚信度</span>40<span style="font-family: 宋体">分，第二次临时封停账户，第三次永久查封账户。</span>
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            <span style="font-family:宋体">（九）不诚信的行为：若用户出现不诚信的行为，小宝平台将视情节对用户进行处罚；不诚信行为包括但不限于以下情况：</span>
        </p>
        <p>
            1<span style="font-family:宋体">、短时间产生大量纠纷（例如一周内产生</span>3<span style="font-family: 宋体">次纠纷，情节严重）</span>
        </p>
        <p>
            2<span style="font-family:宋体">、用户通过故意曲解小宝平台规则和交易流程等方式诱骗企业选标或付款的行为。</span>
        </p>
        <p>
            3<span style="font-family:宋体">、用户在中标后不兑现自己在投标中承诺的行为。</span>
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            <span style="font-family:宋体">第二十二条</span> <span style="font-family:宋体">一般违规行为类型及处罚措施</span>
        </p>
        <p>
            <span style="font-family:宋体">（一）发布垃圾广告：指用户发布与需求要求无关、对需求完成没有帮助的广告信息的行为，若用户发布的信息被认定为垃圾广告，网站将屏蔽该信息，并扣除相应诚信度分值，每次扣除诚信度</span>1<span style="font-family: 宋体">分。</span>
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            <span style="font-family:宋体">（二）发布敏感信息：指用户发布法律、法规、行政规章禁止发布的信息或者其他违背社会公序良俗等方面的信息，若用户发布的信息被认定为敏感信息，网站将屏蔽该信息，并扣除相应诚信度分值，每次扣除诚信度</span>5<span style="font-family: 宋体">分。</span>
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            <span style="font-family:宋体">（三）发布淫秽色情信息：指用户发布淫秽色情、低俗等信息，若用户发布的信息被认定为淫秽色情信息，网站将屏蔽该信息，并扣除相应诚信度分值，每次扣除诚信度</span>5<span style="font-family: 宋体">分。</span>
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            <span style="font-family:宋体">（四）信息含联系方式：指用户发布的信息含有联系方式（不限于</span>QQ<span style="font-family: 宋体">，电话号码，邮箱，网址），若用户发布的信息被认定为含有联系方式，网站将屏蔽该信息，并扣除相应诚信度分值，每次扣除诚信度</span>1<span style="font-family: 宋体">分。如果该信息为中标文档，则不屏蔽文档只扣除相应诚信度分值。</span>
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            <span style="font-family:宋体">（五）服务盗用图片：指用户未经允许，擅自使用其他用户平台内的图片的行为，包括但不限于头像，服务图片，平台装修图片。</span>
        </p>
        <p>
            <span style="font-family:宋体">若用户发布的图片信息被认定为图片盗用，网站将屏蔽该信息，并扣除相应诚信度分值，每次扣除诚信度</span>1<span style="font-family: 宋体">分。</span>
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            <span style="font-family:宋体">（六）文档涉嫌抄袭：指用户提交的文档涉嫌与已注册或者已使用的文档或已提交的相似。网站将屏蔽该文档，并扣除相应的诚信度分值，每次扣除诚信度</span>3<span style="font-family: 宋体">分。如果该文档已中标或者备选，则取消中标或者备选资格。</span>
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            <span style="font-family:宋体">第二十三条</span> <span style="font-family:宋体">用户的违规行为，通过小宝用户投诉或小宝平台排查发现。</span>
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            <span style="font-family:宋体">第二十四条</span> <span style="font-family:宋体">用户发生违规行为的，依据小宝平台举报产品的处理结果执行诚信度扣分处罚。</span>
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            <span style="font-family:宋体">第二十五条</span> <span style="font-family:宋体">附则：</span>
        </p>
        <p>
            <span style="font-family:宋体">在本协议中所使用的下列词语，除非另有定义，应具有以下含义：</span>
        </p>
        <p>
            <span style="font-family:宋体">“本平台”在无特别说明的情况下，均指</span>&quot;<span style="font-family:宋体">小宝</span>&quot;<span style="font-family:宋体">。</span>
        </p>
        <p>
            <span style="font-family:宋体">“企业”：是指在本平台上进行发布需求或购买增值服务的用户。</span>
        </p>
        <p>
            <span style="font-family:宋体">“用户”：指具有完全民事行为能力的本平台各项服务的使用者，包括在本平台上参加竞标、销售服务、出售信息产品等的用户。</span>
        </p>
        <p>
            &nbsp;<span style="font-family:宋体">第二十六条</span> <span style="font-family:宋体">本规则自发布之日起实行。</span>
        </p>
        <p>
            <br/>
        </p>
    </div>
</div>
</body>
<include file="Public/foot" />