<include file="Public/head" />
<style type="text/css">
.line_input1{
    margin-top: 20px;
}
</style>
    <body>

            <div class="add">
                <input type="hidden" id="activityId" name="activityId" value="{$reModi.list.f_id}">

                <div class="line_input1">
                    <span>选择类型：</span>
                    <select name="type" id="type" style="width:285px">
                        <option value="1" <eq name="reModi.list.f_type" value="1">selected</eq>>广告</option>
                        <option value="3" <eq name="reModi.list.f_type" value="3">selected</eq>>活动</option>
                    </select>
                </div>

                <div class="line_input1">
                    <span>活动标题：</span> <input type="text" id="title" name="title" style="width:285px" value="{$reModi.list.f_title}"  placeholder="活动标题">
                </div>
                
                <div class="line_input1">
                   <span>活动时间：</span> 
                    <input id="startdate" class="laydate-icon" style="width: 285px;" placeholder="起始时间"  value="{$reModi.list.f_starttime}"/>  至
                    <input id="enddate" class="laydate-icon" style="width: 285px;" placeholder="终止时间"  value="{$reModi.list.f_endtime}"/>
                </div>

                <div class="line_input1">
                    <span>分享地址：</span> <input type="text" id="shareUrl" name="shareUrl" style="width:285px" value="{$reModi.list.f_url}" placeholder="分享地址">
                </div>

                <div class="line_input1">
                    <span>是否URL显示：</span> <input type="checkbox" id="isUrl" name="isUrl"  value="{$reModi.list.f_isurl|default=0}" <eq name="reModi.list.f_isurl" value="1">checked</eq>>
                </div>

                <div class="line_input1">
                    <span>分享描述：</span><br>
                    <textarea  value="" name="adDescription"  id="adDescription" style="width:550px;height:100px;">{$reModi.list.f_desc}</textarea>
                </div>

                <div class="line_input1">
                    <span>首页显示：</span> 

                    <select name="isShow" id="isShow" style="width:85px">
                        <option value="1" <eq name="reModi.list.f_top" value="1">selected</eq>>是</option>
                        <option value="0" <eq name="reModi.list.f_top" value="0">selected</eq>>否</option>
                    </select>

                </div>

                <div class="show_img" id='show_img' style="float: right;margin-right: 675px;margin-top: -10px;"></div>
                <div  class="line_input1">
                    <div class="upfile">
                        <span>活动图片：</span> <button id="btn_up" class="btn btn-default" style="height: 32px;width: 88px;margin-top: 3px;" onclick="$('#upfile').click();">上传</button>
                        <div style="display: none;">
                            <input type="file" id="upfile" name="upfile" accept="image/jpeg,image/gif,image/png">
                        </div>
                        <input type="hidden" id="fileid" name="fileid" value="{$reModi.list.f_fid}">
                    </div>
                </div>
                    <?php if ($reModi['list']['f_fid']) {?>
                    <!--  {$reModi['one']['f_name']['f_filepath']}{$reModi.one.f_name.f_filename} -->
                    <div id="showPic" style="float: right;margin-right: 675px;margin-top: -75px;">
                        <img src="__UPFILE__/{$reModi.list.f_name.f_filepath}{$reModi.list.f_name.f_filename}" width="100" height="100">
                    </div>
                    <?php }?>

                <div class="line_input1">
                    <span>活动说明：</span>
                    <div class="editor" style="height: 100%;width: 100%;">
                        <script type="text/plain" id="editor" style="width:100%;height:350px;"></script>
                    </div>
                </div>

                <button  class="upConfirm btn btn-default" id="upConfirm" style="height:31px;width:90px;float:right;margin-top: 8px;margin-bottom: 8px;">确定</button>

            </div>
    </body>
    <include file="Public/loadjs" />
<script>
        //加截UM
       var um = UM.getEditor('editor',{
          toolbar: ['source bold italic underline insertorderedlist insertunorderedlist forecolor emotion image video fontsize link unlink']
          ,UMEDITOR_HOME_URL:"__STATIC__/um/"
            ,autoClearinitialContent: true
            //,wordCount: false
            ,elementPathEnabled: false
            ,autoFloatEnabled: false
            ,textarea: 'content'
            //,imageUrl: "{:U('Api/Upfile/upfile')}"
            //,imagePath: "__UPFILE__"
        });

        // UM.addListener("ready", function () {
            // editor准备好之后才可以使用
            UM.getEditor('editor').setContent('{$reModi.list.f_note}');
        // });

        var start = {
            elem: '#startdate',
            format: 'YYYY-MM-DD',
            min: laydate.now(), //设定最小日期为当前日期
            max: '2099-06-16', //最大日期
            //istime: true,
            istoday: false,
            choose: function(datas){
                 end.min = datas; //开始日选好后，重置结束日的最小日期
                 end.start = datas //将结束日的初始值设定为开始日
            }
        };
        var end = {
            elem: '#enddate',
            format: 'YYYY-MM-DD',
            min: laydate.now(),
            max: laydate.now(+180),
            //istime: true,
            istoday: false,
            choose: function(datas){
                start.max = datas; //结束日选好后，重置开始日的最大日期
            }
        };
         laydate(start);
         laydate(end);

        $('#isUrl').click(function(){
            if($(this).is(':checked')){
                $(this).val(1);
            }else{
                $(this).val(0);
            }
        });

        $("#upfile").wrap("<form id='uplogo' action='{:U('Api/Upfile/upF/type/2')}' method='post' enctype='multipart/form-data'></form>");

        $('#upConfirm').on('click',function(){
            var index = parent.layer.getFrameIndex(window.name); //获取窗口索引

            var type=$("#type option:selected").val();
            var title = $('#title').val() ;
            var startdate = $('#startdate').val() ;
            var enddate = $('#enddate').val() ;
            var shareUrl = $('#shareUrl').val() ;
            var isUrl = $('#isUrl').val() ;
            var isShow=$("#isShow option:selected").val();
            var content = UM.getEditor('editor').getContent() ;
            var fileid = $("#fileid").val() ;
            var activityId = $("#activityId").val() ;
            var adDescription = $('#adDescription').val();
            //alert(isUrl);
            if (type == '') {
                layer.msg("请选择类型",{'icon':8});
            };

            $.post(APP+"/Api/web/upActivity",
            "type="+type+"&title="+title+"&startdate="+startdate+"&enddate="+enddate+"&shareUrl="+shareUrl+"&isUrl="+isUrl+"&isShow="+isShow+"&content="+content+"&fileid="+fileid+"&activityId="+activityId+"&adDescription="+adDescription,
            function(data){
               parent.location.reload();
               parent.layer.close(index); 
            },"json");
        });
</script>
</html>
