<include file="Public/head" />
<style type="text/css">
</style>
    <body>
        <include file="Public/add_menu" />
        <div class="add">
            <div class="add_business">
                <div class="page_next" id="push_one">

                   <input type="hidden" id="userid" value="{$reModi.list.id}">

                   <div class="line">
                        <div class="line_input">
                           <span>用户名:</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="username" placeholder="用户名" value="{$reModi.list.username}">
                        </div>
                        <div class="line_note">*用户名</div>
                    </div>

                    <div class="line">
                        <div class="line_input">
                           <span>旧密码：</span> &nbsp;&nbsp;&nbsp;&nbsp;<input type="password" id="oldPassword" placeholder="用户旧密码" value="">
                        </div>
                        <div class="line_note">*用户旧密码</div>
                    </div>

                    <div class="line">
                        <div class="line_input">
                           <span>新密码：</span> &nbsp;&nbsp;&nbsp;&nbsp;<input type="password" id="newPassword" placeholder="用户新密码" value="">
                        </div>
                        <div class="line_note">*用户新密码</div>
                    </div>

                    <div class="line">
                        <div class="line_input">
                           <span>真实姓名：</span> <input type="text" id="realname" placeholder="真实姓名" value="{$reModi.list.realname}">
                        </div>
                        <div class="line_note">*用户真实姓名</div>
                    </div>

                    <div class="line">
                        <div class="line_input">
                           <span>所属角色：</span> 
                           <select id="user_accessname">
                            <volist name="result" id="vo" key="k">
                                <option  value="<?php if ($reModi['list']['accessid'] == $vo['id']) { echo $reModi['list']['accessid'];}else{echo $vo['id'];} ?>" <?php if ($reModi['list']['accessid'] == $vo['id']) { echo 'selected';} ?>  >
                                    {$vo.accessname}
                                </option>
                            </volist>
                           </select>
                        </div>
                        <div class="line_note">*用户所属角色</div>
                    </div>

                    
                    <div class="next_btn" style="margin-bottom: 115px;">
                        <a class="btn btn-default" href="#" role="button" id="btn_modi_user" style="margin-top: 115px;">确定</a>
                    </div>
                    <div class="line_one"></div>
                </div>

            </div>
        </div>
    </body>
    <include file="Public/loadjs" />
    <script>

    </script>
</html>
