<include file="Public/head" title="{$webtitle}" />
<body style="background: #fff;">
<div class="header">
    <h2>狠砸1亿，补贴嗨翻天</h2>
    <p>欢迎您进入小宝招商，为了让传统厂商体验互联网招商、运营与推广的便利与低成本模式，小宝招商携国际实力战略资本，拿出1个亿真金白银补贴厂商。只要通过小宝招商完成交易,即可享受小宝砸钱补贴,总计1亿元,多交易多补贴。第一批体验企业我们优先选择食品饮料、日用品、智能硬件等快消品行业，希望产品品质优良、有一定的市场容量、产品技术力量和售后服务能力的企业改加入平.</p>
</div>
<div class="nav"><span>请完善您的信息，提交申请与您联络 。</span></div>
<div class="main">
    <dl>
        <dt class="fl">企业名称：</dt>
        <dd class="fl"><input type="text"/></dd>
    </dl>
    <dl>
        <dt class="fl">品牌产品：</dt>
        <dd class="fl"><input type="text"/></dd>
    </dl>
    <dl>
        <dt class="fl">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</dt>
        <dd class="fl"><input type="text"/></dd>
    </dl>
    <dl>
        <dt class="fl">手机号码：</dt>

        <dd class="fl"><input type="text"/></dd>
    </dl>
    <p class="zhaoshang" style="margin-right: 39%;">招商说明：</p>
    <textarea></textarea>
</div>
<div class="footer">
    <p>耐心等待小宝审核 , 当然您有问题也可以主动联系小宝哦！</p>
    <p>QQ：2048106473</p>
    <p>电话：0571-88195693、0571-88195696</p>
    <a href="#">提交申请</a>
</div>
</body>
</html>
