<p style="text-align:center">
    <span style=";font-family:宋体;font-weight:bold;font-size:24px">小宝招商“</span><span style=";font-family:宋体;font-weight:bold;font-size:24px">招商</span><span style=";font-family:宋体;font-weight:bold;font-size:24px">试用”规则</span>
</p>
<p>
    <span style=";font-family:宋体;font-size:19px">一、说明：</span>
</p>
<p style="text-indent:28px">
    <span style=";font-family:宋体;font-size:19px">本试用为</span><span style=";font-family:宋体;font-size:19px">招商</span><span style=";font-family:宋体;font-size:19px">类试用，旨在帮助营销人熟悉产品，申请试用需完善个人资料，推荐</span><span style=";font-family:宋体;font-size:19px">客户</span><span style=";font-family:宋体;font-size:19px">对象，获得试用资格后，须提供一份在线试用报告”，报告模版测试问题由发布者提供。</span>
</p>
<p>
    <span style=";font-family:宋体;font-size:19px">二、基本流程</span>
</p>
<p>
    <span style=";font-family:宋体;font-size:19px">1</span><span style=";font-family:宋体;font-size:19px">&gt;&gt;<span style="font-family:宋体">个人实名认证（身份证拍照上传）；</span></span>
</p>
<p>
    <span style=";font-family:宋体;font-size:19px">2&gt;&gt;<span style="font-family:宋体">完善个人资料（行业，区域，邮箱、微信等）；</span></span>
</p>
<p>
    <span style=";font-family:宋体;font-size:19px">3</span><span style=";font-family:宋体;font-size:19px">&gt;&gt;<span style="font-family:宋体">填写寄样品地址、联系电话；</span></span>
</p>
<p>
    <span style=";font-family:宋体;font-size:19px">4</span><span style=";font-family:宋体;font-size:19px">&gt;&gt;<span style="font-family:宋体">至少推荐一家待发展的经销商，并填写经销商基本信息（必填、选填）；</span></span>
</p>
<p>
    <span style=";font-family:宋体;font-size:19px">5</span><span style=";font-family:宋体;font-size:19px">&gt;&gt;<span style="font-family:宋体">成功提交试用申请后，请耐心等待客服联系。小宝招商的客服人员第一时间会及时联系您。确认试用申请的条件是否符合试用要求。试用申请成功审核后，试用样品将会按第三步提交的收样地址发出；</span></span>
</p>
<p>
    <span style=";font-family:宋体;font-size:19px">6</span><span style=";font-family:宋体;font-size:19px">&gt;&gt;<span style="font-family:宋体">收到试用样品后，请在收到试品五日内上传测试报告，届时会有客服一对一的指导完成测试报告上传；</span></span>
</p>
<p>
    <span style=";font-family:宋体;font-size:19px">7</span><span style=";font-family:宋体;font-size:19px">&gt;&gt;<span style="font-family:宋体">五天后不上传试用报告，系统将锁定您的账号，严重情节的系统将终止您其他的使用申请；&nbsp;</span></span>
</p>
<p>
    <span style=";font-family:宋体;font-size:19px">8&gt;&gt;<span style="font-family:宋体">试用申请成功后，如果您愿意，小宝招商客服会协助您跟进您推荐的经销商代理业务的推进。完成试用商品的招商，您可以获得</span></span><span style=";font-family:宋体;font-size:19px">获得更高的招商佣金。招商佣金的获得可以查看招商任务详情；</span>
</p>