<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
    <link rel="stylesheet" href="<?php echo base_url();?>public/css/admin.css" />
    </head>
    <body>
        <div class="align-center">
            <!--头-->
            <div class="login_head">
                <div class="login_head_title"></div>
            </div>
            <!--内容-->
            <div class="login_body">
                <div class="login_body_title">
                    <div class="login_body_img"><img src="<?php echo base_url();?>public/img/admin/banner.png" width="302" height="290"></div>
                    <div class="login_body_from" >
                        <div class="login_top" style="background: url('<?php echo base_url();?>public/img/admin/login_top.png') no-repeat;"></div>
                        <div class="login_center" style="background: url('<?php echo base_url();?>public/img/admin/login_center.png') repeat-y;">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <div class="login_down" style="background: url('<?php echo base_url();?>public/img/admin/login_down.png') no-repeat;"></div>
                    </div>
                </div>
            </div>
            <!--底-->
            <div class="login_foot">
                <div class="login_foot_title"><div class="login_company_info">杭州利依享数据科技有限公司</div></div>
            </div>
        </div>
    </body>
</html>
